footer.Footer
    .Footer__selectLang
        .FooterSelectLang
            ul.FooterSelectLang__list
                li.FooterSelectLang__listItem
                    a(class=`u-${locale}`)(href=`${meta.rootDir + enLink}`) EN
                li.FooterSelectLang__listItem
                    a(class=`j-${locale}`)(href=`${meta.rootDir + jaLink}`) JA
    .Footer__copyright
        p.Message
            |Made with 
            span.Message__love love
            |  and 
            span.Message__coffee coffee
            |  by Astlanox.
