-var locale = page.locale
-var title = page.title
-var name = page.name
-var description = page.description
-var hrefLang = page.hrefLang
-var hrefLangLink = page.hrefLangLink
-var enLink = page.enLink
-var jaLink = page.jaLink