.icon__twitter
{
    background: url('/asset/images/icon/icon_twitter.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__facebook
{
    background: url('/asset/images/icon/icon_facebook.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__instagram
{
    background: url('/asset/images/icon/icon_instagram.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__dribbble
{
    background: url('/asset/images/icon/icon_dribbble.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__linkedin
{
    background: url('/asset/images/icon/icon_linkedin.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__wantedly
{
    background: url('/asset/images/icon/icon_wantedly.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__photoshop
{
    background: url('/asset/images/icon/icon_photoshop.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__illustrator
{
    background: url('/asset/images/icon/icon_illustrator.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__dreamweaver
{
    background: url('/asset/images/icon/icon_dreamweaver.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__indesign
{
    background: url('/asset/images/icon/icon_indesign.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__adobeXd
{
    background: url('/asset/images/icon/icon_adobeXd.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__sketch
{
    background: url('/asset/images/icon/icon_sketch.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__vsCode
{
    background: url('/asset/images/icon/icon_vsCode.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__slack
{
    background: url('/asset/images/icon/icon_slack.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__discord
{
    background: url('/asset/images/icon/icon_discord.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__skype
{
    background: url('/asset/images/icon/icon_skype.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__ui
{
    background: url('/asset/images/icon/icon_ui.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__ux
{
    background: url('/asset/images/icon/icon_ux.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__html
{
    background: url('/asset/images/icon/icon_html.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__css
{
    background: url('/asset/images/icon/icon_css.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__wordpress
{
    background: url('/asset/images/icon/icon_wordpress.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__sass
{
    background: url('/asset/images/icon/icon_sass.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__pug
{
    background: url('/asset/images/icon/icon_pug.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__php
{
    background: url('/asset/images/icon/icon_php.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__love
{
    background: url('/asset/images/icon/icon__love.gif');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__coffee
{
    background: url('/asset/images/icon/icon__coffee.gif');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__loveDark
{
    background: url('/asset/images/icon/icon__loveDark.gif');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__coffeeDark
{
    background: url('/asset/images/icon/icon__coffeeDark.gif');
    background-repeat: no-repeat;
    background-position: 50%;
}

.icon__close
{
    background: url('/asset/images/icon/icon__close.png');
    background-repeat: no-repeat;
    background-position: 50%;
}
