<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} ^www.astlanox.com$
RewriteRule (.*) https://astlanox.com/$1 [R=301,L]
RedirectMatch 301 /work/busica(.*) /works/app/busica/$1
RedirectMatch 301 /work/astlanox(.*) /works/web/astlanox/$1
</IfModule>

<FilesMatch "\.(jpg|css|js)$">
Header set Cache-Control "public, max-age=86400"
</FilesMatch>

ErrorDocument 400 /404.html
