-var page = contact
include ../module/_locale
doctype html
html(lang=locale)
    include ../module/_head
    body
        include ../module/_header
        main.Contact
            .Contact__header
                h1.Contact__headerTitle(data-aos='fade-up',data-aos-delay="500") #{contact.name}
            .Contact__main
        include ../module/_footer
        include ../module/_script
