-var page = contact
include ../module/_locale
doctype html
html(lang=locale)
    include ../module/_head
    body
        include ../module/_header
        main.Contact
            .Contact__header
                h1.Contact__headerTitle #{contact.name}
                p hi@astlanox.com
            .Contact__main
        include ../module/_footer
        include ../module/_script
